h1 {
	font-family: Times New Roman;
	letter-spacing: .5px;
	text-align: Center;
	text-decoration: underline;
}

.arctic {
	background-image: URL('Images/Arctic.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;
}

.food {
	background-image: URL('Images/food.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: cover;
}

.farm {
	background-image: URL('Images/farm.jpg');
	background-repeat: no-repeat;	
	background-size: cover;
}

p {
	font-family: Time new Roman;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	margin-left:3%;
	margin-right:5%;
}

img {
	height:350px;
	width:350px;
	border-style:solid;
	border-color:white;
	margin: 5%;
}

iframe {
	height:350px;
	width:350px;
	border-style:solid;
	border-color:white;
	margin: 5%;
}

a {
	cursor:alias;
}

.header {
	text-align: Right;
	font-family: Times new Roman;
	font-size: 18px;
	border-style: Solid;
	border-color:black;
}

ul {
	font-family: Time new Roman;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	margin-left:3%;
	margin-right:5%;
}

li {
	font-family: Time new Roman;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	margin-left:3%;
	margin-right:5%;
}

h2 {
	font-size: 25px;
	font-family: Times New roman;
	letter-spacing: .5px;
	line-height:30px;
	text-decoration:underline;
}

table, th , td{
	font-size: 20px;
	font-family: Times New Roman;
	text-align: Center;
	letter-spacing: 1px;
	border: 2px solid black;
	padding: 10px;
	line-height: 30px;
}

table {
	margin: 5%;
}

iframe {
	height:350px;
	width:350px;
	border-style:solid;
	border-color:white;
	margin: 5%;
}